/* Custom styles. */

body {
  color: #112146;
}
body, h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
a {
  color: #0d28ff;
}
a:hover,
a:visited:hover {
  color: #ff0d57;
  text-decoration: none;
}
.img-responsive {
  margin: auto;
}
.intro-message {
  padding-bottom: 5%;
  padding-top: 6%;
}
.intro-message .title-link {
  color: #ffffff;
}
.intro-message .img-responsive {
  display: inline;
  margin: 0 auto 10px auto;
  vertical-align: top;
}
.intro-header {
  background-color: #112146;
  background-size: cover;
  padding-bottom: 0;
}

.navbar-default {
  background-color: #fff;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #112146;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #0d28ff;
}

.img-shadow {
  -webkit-box-shadow: 0 0 5px 0 #112146;
  box-shadow: 0 0 5px 0 #112146;
}

.lead {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}
code {
  color: #ff0d57;
}